<form data-abide>
  <h3>Add User</h3>
  <div class="name-field">
    <label>Your name <small>required</small>
      <input type="text" ng-model="newname" required pattern="[a-zA-Z]+">
    </label>
    <small class="error">Name is required and must be a string.</small>
  </div>
  <div class="email-field">
    <label>Email <small>required</small>
      <input type="email" ng-model="newemail" required>
    </label>
    <small class="error">An email address is required.</small>
  </div>
  <button type="submit" ng-click="changename()">Submit</button>
</form>