<form data-abide>
  <div class="row">
 <div class="small-12 medium-6 large-6 columns">
  <h3>Add User</h3>
</div>
</div>
  <div class="row">
 <div class="small-12 medium-6 large-6 columns">
  <div class="name-field">
    <label>Your name <span style="color:#FF0000;">*</span>
      <input type="text" ng-model="newname" required>
    </label>
    <small class="error">Name is required and must be a string.</small>
  </div>
</div>
</div>

<div class="row">
 <div class="small-12 medium-6 large-6 columns">
  <div class="email-field">
    <label>Email <span style="color:#FF0000;">*</span>
      <input type="email" ng-model="newemail" required>
    </label>
    <small class="error">An email address is required.</small>
  </div>
</div>
</div>
<div class="row">
 <div class="small-12 medium-6 large-6 columns">
  <button type="submit" ng-click="changename()" style="background-color:green;">Submit</button>
  <div ng-if="checker==1">
  <div class="text-center" style="margin-top:-15px;margin-bottom:18px;color:white;background-color:green;">{{mess}}</div>
</div>
<div ng-if="checker==2">
   <div class="text-center" style="margin-top:-15px;margin-bottom:18px;color:white;background-color:red;">{{mess}}</div>
</div>
</div>
</div>
</form>