<div class="list" ng-controller='DetailTaskController'>
    <table style="margin-left:auto; margin-right:auto; width:70%" >
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>deadline</th>
                <th>Assigned UserName</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{detailTasks.name}}</a></td>
                <td>{{detailTasks.description}}</td>
                <td>{{detailTasks.deadline}}</td>
                <td>{{detailTasks.assignedUserName}}</td>
            </tr>
        </tbody>
    </table>
</div>