<div class="list" ng-controller='TaskController'>
    <div class="row">
        <div class="large-4 small-4 columns">
            <label>Filter Tasks</label>
            <input type="radio" name="status" value="All" id="All"><label for="All">All</label></input>
            <input type="radio" name="status" value="Completed" id="Completed"><label for="Completed">Completed</label></input>
            <input type="radio" name="status" value="Pending" id="Pending" checked="checked"><label for="Pending">Pending</label></input>
        </div>
        <div class="large-2 small-2 columns">
             <a href="" class="button small">Previous</button></a>
        </div>
        <div class="large-2 small-2 columns">
             <a href="" class="button small">Next</button></a>
        </div>    
        <div class="large-2 small-2 columns">
             <a href="#addtask" class="button small" style="background-color:green;">Add Tasks</button></a>
        </div>
        </div>
        <div class="row">
        <div class="large-2 small-2 columns">
         <label>filter By
            <select>
                <option value="name">name</option>
                <option value="username">username</option>
                <option value="dateCreated">dateCreated</option>
                <option value="deadline">deadline</option>
            </select>
      </label>
      </div>
      <div class="large-7 small-2 columns">
      <label>In Order</label>
            <input type="radio" name="order" value="ascending" id="ascending"><label for="ascending">ascending</label></input>
            <input type="radio" name="order" value="descending" id="descending"><label for="descending">descending</label></input>
      </div>
      </div>    

    <table style="margin-left:auto; margin-right:auto; width:70%" >
        <thead>
            <tr>
                 <th>Name</th>
                <th>ID</th>
                <th>Assigned User</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="u in tasks">
            <tr>
                <td><a href="#detailtask/{{u._id}}">{{u.name}}</a></td>
                <td>{{u._id}}</td>
                <td>{{u.assignedUserName}}</th>
                <td>
                     <button name="delete" style="background-color:red;" ng-click="deleteUser(u._id)">Delete</button>
                 </td>
            </tr>
        </tbody>
    </table>
</div>