<div class="list" ng-controller='TaskController'>  
  <div class="row">
        <div class="large-4 small-4 columns">
           <label>Filter Tasks</label>
          <input ng-model="all" ng-click="clickevent()" type="radio" name="count" value="all"><label for="All">All</label></input>
          <input ng-model="all" type="radio" ng-click="clickevent()" name="count" value="completed"><label for="Completed">Completed</label></input>
          <input ng-model="all" type="radio" ng-click="clickevent()" name="count" value="pending" checked><label for="Pending">Pending</label></input>
      </div>
      <div class="large-3 columns">
        <button ng-click="prev()">Previous</button>
      </div>
       <div class="large-2 small-2 columns">
          <button ng-click="next()">Next</button>
      </div>
      <div class="large-2 small-2 columns">
        <a class="button" href="#/addtask" style="background-color:green;">Add Task</a> 
      </div>
    </div>
    <div class="row">
      <div class="large-2 small-2 columns">
        <form>
          <label>Filter by:</label>
          <select ng-model="dropdown" ng-change="sortclick()">
            <option value="name">Task Name</option>
            <option value="assignedUserName">Username</option>
            <option value="dateCreated">Date Created</option>
            <option value="deadline">Deadline</option>
          </select>  
        </form>
    </div>
    <div class="large-5 small-2 columns">
        <form>
          <label>Order by:</label>
          <input type="radio" ng-click="orderclick()"name="order" ng-model="ordersort" value="Ascending"><label for="ascending">ascending</label></input>
          <input type="radio" ng-click="orderclick()"name="order" ng-model="ordersort" value="Descending"><label for="descending">descending</label></input>
        </form>
    </div>
    <div class="large-2 small-2 columns">
      Page No: {{currpage}}
    </div>
  </div> 
  <br>
  <div class="row">
    <div class="large-12 columns">
       <table style="width:100%;">
          <thead>
            <tr>
               <th class="text-center">Name</th>
               <th class="text-center">ID</th>
               <th class="text-center">AssignedUser</th>
               <th class="text-center"></th> 
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="t in currtasks">
               <th class="text-center" ><a href="#/detailtask/{{t._id}}">{{t.name}}</a></th>
               <th class="text-center">{{t._id}}</th>
               <th class="text-center">{{t.assignedUserName}}</th>
               <th class="text-center"><button ng-click="deletetask(t)" style="background-color:red;">Delete</button></th>
           </tr>
          </tbody>
       </table>
    </div>
  </div>
</div>