<div class="list" ng-controller='UserController'>
    <div class="row">
    <div class="large-10 small-10 columns">
    <table style="margin-left:auto; margin-right:auto; width:70%" >
       <thead>
            <tr>
                <th>Name</th>
                <th>ID</th>
                <th></th>
            </tr>
        </thead>
        <tbody ng-repeat="use in users">
            <tr>
                <td><a href="#detailuser/{{use._id}}">{{use.name}}</a></td>
                <td>{{use._id}}</td>
                <td>
                     <button ng-click="deleteUser(use)" style="background-color:red;" name="delete">Delete</button>
                 </td>
            </tr>
        </tbody>
    </div>
     <div class="large-2 small-2 columns" style="float:right;">
            <a href="#adduser"><button name="add_user" style="background-color:green;">Add Users</button></a>
    </div>
</div>

    </table>
</div>